@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-brand-bg: #05070A;
  --color-brand-sidebar: #06080D;
  --color-brand-panel: #080B12;
  --color-brand-card: #0D121A;
  --color-brand-accent: #22D3EE;
}

body {
  background-color: var(--color-brand-bg);
  color: #F8FAFC;
  font-family: var(--font-sans);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.1);
}
